<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Test Action Set"
            visible="true"
            id="com.u2apple.testman.actionSet">
         <menu
               label="Test"
               id="testMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Add Test Case"
               icon="icons/test.png"
               class="com.u2apple.testman.actions.TestCaseAction"
               tooltip="Generate test case"
               menubarPath="testMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.u2apple.testman.actions.TestCaseAction">
         </action>
         <action
               class="com.u2apple.testman.actions.ExtractTestCaseAction"
               definitionId="extractTestCase"
               icon="icons/sample.gif"
               id="com.u2apple.testman.action1"
               label="&amp;Extract Test Case"
               menubarPath="testMenu/sampleGroup"
               style="push"
               tooltip="Extract Test Case by brand">
         </action>
      </actionSet>
   </extension>

</plugin>
